# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
.next/
out/
build/
.turbo/

# Env
.env
.env.local
.env.*.local
!.env.example

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor/OS
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db

# Testing
coverage/

# Local storage stub (Sprint 4 - CV/attachment dev storage)
apps/api/storage/uploads/*
!apps/api/storage/uploads/.gitkeep

# Prisma
apps/api/prisma/dev.db

# TypeScript build info
*.tsbuildinfo
